@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">



    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8EcHOLsBWqLcXTyTnzZOElQ_KpBBqEoC3ag&usqp=CAU"  height="800" width="100%"/>
</div>
