@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div class="row w-100 h-500" style="background-image:url('https://ik.imagekit.io/ikmedia/backlit.jpg');">
<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
</div>